h6 {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  white-space: nowrap;
  box-sizing: border-box;
  margin-top: 0;
  line-height: 1.2;
  font-weight: 600;
  color: #24695c;
  font-size: 18px;
  margin-bottom: 0;
}

.main-nav {
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #242934;
  box-sizing: border-box;
  display: block;
  position: fixed;
  border-bottom: none;
  top: 83px;
  z-index: 8;
  height: 3rem;
  line-height: inherit;
  background: #fff;
  border-right: 1px solid #e6edef;
  width: 290px;
  text-align: left;
  transition: 0.3s ease;
}

.page-body-wrapper {
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #242934;
  box-sizing: border-box;
  background-color: #f5f7fb;
}
.admin-nav {
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #242934;
  line-height: inherit;
  text-align: left;
  box-sizing: border-box;
  display: block;
}

.main-navbar {
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #242934;
  line-height: inherit;
  text-align: left;
  box-sizing: border-box;
}
#mainnav {
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #242934;
  line-height: inherit;
  text-align: left;
  box-sizing: border-box;
}

.nav-menu {
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: inherit;
  text-align: left;
  box-sizing: border-box;
  margin-top: 0;
  padding-left: 0px;
  list-style-type: none;
  margin-bottom: 0;
  padding-right: 0px;
  border-radius: 0;
  /* height: calc(100vh - 355px); */
  left: -300px;
  z-index: 99;
  transition: color 1s ease;
  overflow: hidden;
  overflow-y: auto;
  color: rgba(0, 0, 0, 0);
  padding-bottom: 15px;
  display: block;
}

.sidebar-main-title {
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: inherit;
  list-style-type: none;
  color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  margin-right: 8px;
  display: block;
  float: none;
  width: 100%;
  padding: 0 20px;
}
.sidebar-main-title > h6 {
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  white-space: nowrap;
  box-sizing: border-box;
  margin-top: 0;
  line-height: 1.2;
  font-weight: 600;
  color: #24695c;
  font-size: 18px;
  margin-bottom: 0;
}
.dropdown {
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: inherit;
  list-style-type: none;
  color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  position: relative;
  margin-right: 8px;
  display: block;
  float: none;
  width: 100%;
  padding: 0 20px;
}
.menu-link {
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: inherit;
  list-style-type: none;
  box-sizing: border-box;
  display: block;
  outline-width: 0;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #24695c;
  color: #d0efe9;
  transition: all 0.5s ease;
  position: relative;
}
.dropdown > ul {
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: inherit;
  color: rgba(36, 105, 92, 0.2);
  box-sizing: border-box;
  margin-top: 0;
  list-style-type: none;
  margin-bottom: 0;
  width: 100%;
  padding: 0;
  position: relative !important;
  display: none;
}
.menu-title-active,
.menu-title:hover {
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: inherit;
  list-style-type: none;
  box-sizing: border-box;
  display: block;
  outline-width: 0;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #24695c;
  color: #d0efe9;
  transition: all 0.5s ease;
  position: relative;
}
.menu-title > svg {
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: inherit;
  list-style-type: none;
  font-weight: 600;
  color: #222222;
  height: 24;
  fill: none;
  stroke: currentcolor;
  stroke-linecap: round;
  stroke-linejoin: round;
  box-sizing: border-box;
  overflow: hidden;
  width: 16px;
  margin-right: 15px;
  vertical-align: bottom;
  float: none;
  stroke-width: 2.5px;
}
.menu-title-active > svg,
.menu-title:hover > svg {
  color: white;
}
.menu-title {
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: inherit;
  list-style-type: none;
  box-sizing: border-box;
  background-color: transparent;
  display: block;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 15px;
  position: relative;
  color: #222222;
  border-radius: 10px;
  transition: all 0.5s ease;
  margin-top: 10px;
}

.according-menu {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: inherit;
  list-style-type: none;
  font-weight: 600;
  /* color: #d0efe9; */
  box-sizing: border-box;
  position: absolute;
  right: 15px;
  top: 12px;
  display: block;
}

.fa-amgle-right {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  list-style-type: none;
  box-sizing: border-box;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  color: #d0efe9;
}
.menu-content {
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: inherit;
  color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  margin-top: 0;
  list-style-type: none;
  margin-bottom: 0;
  width: 100%;
  padding: 0;
  position: relative !important;
  display: block;
  /* padding-left: 2rem; */
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.menu-content p {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Montserrat", sans-serif;
  line-height: inherit;
  list-style-type: none;
  box-sizing: border-box;
  background-color: transparent;
  text-decoration: none;
  padding-left: 45px !important;
  font-weight: 400;
  padding: 8px 25px;
  font-size: 13px;
  color: #717171;
  display: block;
  position: relative;
  letter-spacing: 0.07em;
}
.menu-content p:hover {
  color: #24695c;
  font-weight: 600;
}

.page-body {
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #242934;
  box-sizing: border-box;
  min-height: calc(100vh - 76px);
  margin-top: 76px;
  padding: 0 15px 0 15px;
  position: relative;
  transition: 0.5s;
  background-color: #f5f7fb;
  padding-top: 30px;
  margin-left: 290px;
}

.adminbody h1{
  font-style: italic;
   display: flex;
    flex-shrink: 0;
    color: white;
    padding:.5rem 2rem;
    font-size: 1rem;
    /* height: calc(150px + 4vw); */
    width:fit-content;
    margin: 25px;
    background:#24695c;
    /* -webkit-clip-path: polygon(12% 0%, 100% 0%,88% 100%, 0% 100%);
    		clip-path: polygon(12% 0%, 100% 0%, 88% 100%, 0% 100%); */
	/* width:100vw; */
}
.adminbody{
  background-color: white;
  margin: 2vh;
  padding: 1vh;
  /* width: 100%; */
  border-radius: 1rem;
  background:url('../../assets/images/other-images/maintenance-bg.jpg');
  background-size: contain;
}
.page-body{
  width: 100%;
}

.addPropertyForm{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.addPropertyForm input,
.addPropertyForm textarea{
  flex:1;
  height:2rem;
  border-radius: .5rem;
  margin:1rem;
  resize: none;
  border:1px solid black
}
.addPropertyForm input:focus,
.addPropertyForm textarea:focus{
  border:2px solid #24695C;
}
.addPropertyForm li
{
  /* width: 100%; */
  /* max-width: 250px; */
  flex-grow: 1;
  list-style: none;
  flex:1 0 21%;
  display: flex;
  height : 5.5rem;
  flex-direction: column;
}
.addPropertyForm label{
  margin:0;
  margin-left:1rem;
}
.addPropertyForm ul{
  display:flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 2rem;
  max-width: 1000px;
  margin:auto;

}